<% @post.comments.each do |f| %>
  <div class="comments">
    <p><%= f.body %></p>
    <small>Comment by <%= f.name %></small>
    <% if user_signed_in? %>
      <%= link_to "Delete comment", [f.post, f], method: "delete" %>
    <% end %>
  </div>
<% end %>
